<%require 'sanitize'%>
$('#dashboard_entries_list').empty();
<% @unread_entries.each do |entry|%>
$('#dashboard_entries_list').append(
														$('<li>').attr('class','entry_unselected entry_unread').attr('id','entries_id_<%=entry.id%>').append('<h2 class=""><%= j link_to entry.title, show_feed_entry_path(entry.id), remote: true%></h2><p class=""><%=j link_to Sanitize.clean(entry.content).at(0..70)+"...",show_feed_entry_path(entry.id), remote: true %></p>'));
<%end%>



$('#dashboard_entry div').remove(); 