<ul id="dashboard_subscription_list">
<% @user_subscriptions.each do |subscription|%>
	<li id="feed_id_<%=subscription.id%>"><%= link_to subscription.name, show_feed_unread_entries_path(subscription.id), method: :get, remote: true%></li>
<%end%>
</ul>