
*{	
	margin: 0px;
	padding: 0px;
	font-family: verdana;	
}

html{	
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;	
}


#dashboard_wrapper{
	
	position: absolute;
	width: 100%;
	height: 100%;
	
}


#dashboard_subscriptions{

	background: #252a3a;
	position: absolute;
	border: 1px solid gray;
	width: 199px;
	height: 90%;                 
	height: -webkit-calc(100% - 45px);
	height: calc(100% - 45px);              	
	overflow-y: scroll;
	
	ul{
		li{
			a{
				color: white;
				text-decoration: none;
				//display: block; 
				width: 100%;		
			}
			width: 150px;
			font-size: small;
			color: white;
			overflow: hidden;
		  white-space: nowrap;
		  text-overflow: ellipsis;
		  padding: 10px;
	  }
	  li:hover{	  
	  	background: #373c5a;
	  }
	}
	
	form{
		
		::-moz-placeholder {
			font-size: small;
		}
		::-webkit-input-placeholder {
			font-size: small;
		}
		:-ms-input-placeholder {
			font-size: small;
		}
		
	}
	
}

.subscription_selected{
	background: #373c5a;
}
.subscription_unselected{
	background: #252a3a;
}


#dashboard_entries{

	position: absolute;
	border: 1px solid gray;
	top: 40px;
	left: 200px;
	width: 300px;
	height: 90%;                 
	height: -webkit-calc(100% - 45px);
	height: calc(100% - 45px); 
	overflow-y: scroll;
	
	ul{
		li{
			a{
				text-decoration: none;
		    display:block;		
		    width:100%;
			}
			h2{
				font-size: small;
			}
			p{
				font-size: small
			}
		  padding: 10px;
		  border-bottom: 1px solid #dddddd;
	  }
	  li:hover{	  
	  	
	  }
	}	

}

.entry_selected{
	background: #EEEEEE;
}
.entry_unselected{
	background: white;
}

.entry_read{
	h2{
		a{
			color: #999999;
		}
	}
	p{
		a{
			color: #999999;
		}		
	}
}


.entry_unread{
	h2{
		a{
			color: black;
		}		
	}
	p{
		a{
			color: black;
		}		
	}
}

#dashboard_entry{

	position: absolute;
	top: 40px;
	border: 1px solid gray;
	left: 500px;
	width: 500px;
	width: -webkit-calc(100% - 502px);
	width: calc(100% - 502px);
	
	height: 90%;                 
	height: -webkit-calc(100% - 45px);
	height: calc(100% - 45px);	
	overflow-x: scroll;
	text-align: left;
	
	img{
		padding: 5px;
	}
	
}
#dashborad_subscription_form{

	position: relative;
	width: 100%;
	height: 40px;

}


#new_subscriptions_sumbit_btn{
	
	position: relative;
	display: inline;
	top: 0px;
	width: 100px;
	background: white;
	color: #1b98f8;
	height: 30px;
	border: 1px solid #1b98f8;
	border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;	
}

#new_subscriptions_sumbit_btn:hover{

	background: #1b98f8;
	color: white;
}

#add_subscription_input{
	position: relative;
	height: 18px;
	width: 155px;
	border: 1px solid #1b98f8;
	padding:5px;
	margin: 4px;
	padding-right: 35px;
	
}


#dashboard_action_spinner{
	
	position: fixed;
	top: 18px;
	left: 185px;
	z-index: 200000;
	
}


.entry_details{
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
}

#dashborad_options{
	
	position: absolute;
	left: 95%;
	left: -webkit-calc(100% - 95px);
	left: calc(100% - 95px);	
	
	top: 8px;
	a{
		text-decoration: none;
		color: #1b98f8;
	}
}


#dashboard_action_notification{
	
	
	left: 225px;
	top: 5px;
	z-index: 30000;
	width: 120px; 
  height: 30px; 
  background: #1b98f8;
  position: absolute;
  -moz-border-radius: 10px; 
  -webkit-border-radius: 10px; 
  border-radius: 10px;
  
  p{
  	position: absolute;
	  color: white;
	  font-size: small;
	  top: 5px;
	  left: 8px;
	  
  }
  	
}

#dashboard_action_notification:before {
   content:"";
   position: absolute;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid #1b98f8;
   border-bottom: 13px solid transparent;
   margin: 2px 0 0 -20px;
}


.unread_feed_count{

	z-index: 300000;
	background: #1b98f8;
  position: absolute;
  left: 165px;
  width: 26px;
  text-align: center;
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px; 
  border-radius: 3px;
  display: inline;
		
}

.entry_detail_name{
	font-size: small;
	padding-bottom: 2px;
}

.entry_detail_date{
	font-size: small;
	padding-bottom: 2px;
}

.entry_detail_header{
	font-size: 36px;
	padding-bottom: 5px;
}

.entry_detail_text{
	padding-top: 5px;
}

hr{
	color: #d9d4d4;
}


















